$color-main: #414671;
$color-light-blue: #9BA1D1;
$color-secondary: #544A4A;
$color-contrast: #ffffff;
$color-gray-1: #C4C4C4;
$color-gray-2: #BFBFBF;
$color-green: #208849;
$color-red: #BB2F2F;

$img-calendar: '~assets/img/calendar-alt-regular.svg';
$img-cloud: '~assets/img/cloud-upload-alt-solid.svg';
$img-copy: '~assets/img/copy-solid.svg';
$img-file-excel: '~assets/img/file-excel-solid.svg';
$img-lock: '~assets/img/lock-solid.svg';
$img-palette: '~assets/img/palette-solid.svg';
$img-plus: '~assets/img/plus-circle-solid.svg';
$img-ruble: '~assets/img/ruble-sign-solid.svg';
$img-save: '~assets/img/save-solid.svg';
$img-sign-in: '~assets/img/sign-in-alt-solid.svg';
$img-square: '~assets/img/square-regular.svg';
$img-cancel: '~assets/img/times-circle-solid.svg';
$img-trash: '~assets/img/trash-solid.svg';
$img-pencil: '~assets/img/user-edit-solid.svg';
$img-user-slash: '~assets/img/user-slash-solid.svg';
$img-user: '~assets/img/user-solid.svg';

@mixin border-top-radius($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-left-radius($radius) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-right-radius($radius) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}
